.nav-center{
    text-align: center;
}
.nav-links {
    margin-top: 20px;
}
.container {
    text-align: center;
}
.button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
#count {
    font-size: 30px;
    font-weight: bold;
  } 