
   body {
    text-align: center;
  }
  h1 {
    font-size: 5em;
    margin-top: 0;
  }
  button {
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
  }
  button:hover {
    background-color: #098d09;
    cursor: pointer;
  }