*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;

}
nav{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #53539b;
    height: 50px;
    display: flex;
    padding: 0 20px;
    color: #fff;
    align-items: center; 
}
.logo{
    width: 35%;
    display: flex;
    align-items: center;
}
.nav-links{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links li{
list-style: none;

}
.nav-links a{
    color:#fff;
    text-decoration: none;
    display:block;
    padding: 20px;

}
.content{
    position:relative;
    top: 50px;
    width: 100%;
    height: 300%;
    background: url("./Images/pexels-arun-thomas-1156684.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}
.menu{
    position: absolute;
    right: 20px;
    height: 100%;
    display:none;
    align-items: center;
}
@media(max-width:580px){
    .menu{
        display: flex;
    }
    .nav-links{
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: unset;
        gap: 20px;
        background-color:grey;

    }
    .nav-links.active{
        display: flex;
    
    }
}